.stepContent-enter, .stepContent-appear{
  -webkit-filter: blur(1rem);
  filter: blur(1rem);
}
.stepContent-enter-active, .stepContent-appear-active {
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: filter 250ms ease-in;
}
.stepContent-exit {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.stepContent-exit-active {
  -webkit-filter: blur(1rem);
  filter: blur(1em);
  transition: opacity 250ms ease-in;
}