{
    "presets": [
        "@babel/preset-react", 
        ["@babel/env", { "modules": false }]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            { 
                "useESModules": true
            }
        ],
        "@babel/plugin-proposal-optional-chaining",
        "babel-plugin-styled-components"
    ]
}