{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "import/prefer-default-export": "off",
      "react/jsx-props-no-spreading": "off",
      "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/stories.js"]}]
    },
    "overrides": [
      {
        "files": ["stories.js"],
        "rules": {
          "react/prop-types": "off"
        }
      }
    ]
  }
  